.home-container {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  font-family: 'Cinzel', serif;
}

.banner-container {
  position: relative;
}

.home-banner {
  width: 80%; /* Ajuste a largura conforme necessário, pode ser em pixels, porcentagens, etc. */
  max-width: 700px; /* Limita a largura máxima para evitar que fique muito grande em telas grandes */
  height: auto; /* Mantém a proporção da imagem */
  object-fit: cover; /* Garante que a imagem cubra o container */
  display: block; /* Remove espaços indesejados abaixo da imagem */
  top: 0; /* Alinha ao topo do contêiner */
  left: 10; /* Alinha à esquerda do contêiner */
  margin: 0; /* Remove margens padrão */
}


.text-overlay {
  position: absolute;
  top: 30%;
  right: 5%;
  color: rgb(41, 11, 126);
  font-family: 'Cinzel', serif;
  text-align: center;
  z-index: 1;
}

.text-overlay h1 {
  font-size: 3rem;
  margin: 0;
}

.text-overlay p {
  font-size: 1.2rem;
  margin: 0;
}

.product-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #e0f7fa;
  color: rgb(41, 11, 126);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.product-button:hover {
  background-color: #e0f7fa;
}

.products-container {
  margin-top: 50px;
  padding: 20px;
}

.products-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.image {
    width: var(--image-width, 10%); /* Largura padrão é 50% */
    height: var(--image-height, auto); /* Altura padrão é auto para manter a proporção */
    object-fit: cover; /* Ajusta a imagem para cobrir o container */
    border-radius: 0.5rem; /* Raio da borda para bordas arredondadas */
    position: relative; /* Para usar posicionamento absoluto se necessário */
    margin-top: -250px;
  }

  