.footer {
  background-color: #e0f7fa;
  padding: 20px;
  text-align: center;
  color: rgb(41, 11, 126);
  margin-top: auto;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content p {
  margin: 5px 0;
}

.footer-content a {
  color: rgb(41, 11, 126);
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
}

.footer-content a:hover {
  text-decoration: underline;
}